.logo{
    color: #4d5ae5;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio{
    color:#2e2f42;
}

.nav-link{
    color: #2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing:0.02em;

}
.nav-link:hover{
    color:#404bbf;
}
.nav-link:focus{
    color:#404bbf;
}
.adress{
    font-style:normal;
}

.adress-link{
    color:#434455;
    line-height:1.5;
    letter-spacing:0.02em;
}
.adress-link:hover{
    color:#404bbf;
}
.adress-link:focus{
    color:#404bbf
}
.body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.hero_section{
    background-color:#2e2f42;
}

.h1{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    cursor: pointer;
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}
